section.banner-six
  .banner-six-wrapper-container
    .banner-six-wrapper-container-row
      h2.banner-six-wrapper-container-title Wat onze gebruikers zeggen
        .banner-six-wrapper-container-usersfeedback-innerwrapper
          .banner-six-wrapper-container-usersfeedback
            img.banner-six-wrapper-container-quotes(src='/assets/images/quotes.svg' alt='Getuigenissen')
            img.banner-six-wrapper-container-stars(src='/assets/images/stars.svg' alt='Sterren')
            .banner-six-wrapper-container-stars-info
              = Review1
            .banner-six-wrapper-container-initials= NameReview1
          .banner-six-wrapper-container-usersfeedback
            img.banner-six-wrapper-container-quotes(src='/assets/images/quotes.svg' alt='Getuigenissen')
            img.banner-six-wrapper-container-stars(src='/assets/images/stars.svg' alt='Sterren')
            .banner-six-wrapper-container-stars-info
             = Review2
            .banner-six-wrapper-container-initials= NameReview2
          .banner-six-wrapper-container-usersfeedback
            img.banner-six-wrapper-container-quotes(src='/assets/images/quotes.svg' alt='Getuigenissen')
            img.banner-six-wrapper-container-stars(src='/assets/images/stars.svg' alt='Sterren')
            .banner-six-wrapper-container-stars-info
              = Review3
            .banner-six-wrapper-container-initials= NameReview3