
div.bannerThree-container
    div.bannerThree-containerWrapper
        div.bannerThree-containerWrapper-row
            div.bannerThree-containerWrapper-row-title Waarom Taskbooker?
                div.bannerThree-containerWrapper-row-entry

                    div.bannerThree-containerWrapper-row-advantageItem
                        div.bannerThree-containerWrapper-row-advantageItem-iconWrapper
                            img.bannerThree-containerWrapper-row-advantageItem-icon(src="/assets/images/Twee mannetjes handover creditcard.svg")
                        div.bannerThree-containerWrapper-row-advantageItem-title Belastingsvrij en toch geen zwartwerk
                        div.bannerThree-containerWrapper-row-advantageItem-description Als Tasker mag jaarlijks tot €6.250 bijverdienen zonder hierop belastingen te moeten betalen.
                        a.bannerThree-containerWrapper-row-advantageItem-description-link(href='https://www.taskbooker.be/blog/nieuws/verdien-maandelijks-500-euro') Meer info

                    div.bannerThree-containerWrapper-row-advantageItem
                        div.bannerThree-containerWrapper-row-advantageItem-iconWrapper
                            img.bannerThree-containerWrapper-row-advantageItem-icon(src="/assets/images/Umbrella.svg")
                        div.bannerThree-containerWrapper-row-advantageItem-title Je bent verzekerd
                        div.bannerThree-containerWrapper-row-advantageItem-description Taskbooker verzekert zowel de Tasker als de Booker tijdens de klus.

                    div.bannerThree-containerWrapper-row-advantageItem
                        div.bannerThree-containerWrapper-row-advantageItem-iconWrapper
                            img.bannerThree-containerWrapper-row-advantageItem-icon(src="/assets/images/handenopelkaar.svg")
                        div.bannerThree-containerWrapper-row-advantageItem-title Mensen uit jouw buurt
                        div.bannerThree-containerWrapper-row-advantageItem-description Taskbooker brengt je in contact met mensen uit jouw buurt. Zo ben je altijd sneller aan het werk.