extends ../components/layout/head.pug
block content
    include ../components/layout/nav
    include ../components/banners/bannerOne/bannerOne
    include ../components/banners/bannerTwo/bannerTwo
<<<<<<< HEAD
    include ../components/banners/bannerThree/bannerThree
=======
    include ../components/banners/bannerFive/bannerFive
    include ../components/banners/bannerSix/bannerSix
    div.container
      div.title How it works
      img(src="http://img.jpg")
    div.spacer
    div.container
      div.title The Advantages
      div.subtitle Of working with taskbooker
      img(src="http://img.jpg")
>>>>>>> 8505951c7725d27d2a2072b24d34770a7e295687
    div.spacer

    div.container 
      div.title Download the app
      div.subtitle Take Taskbooker with you everywhere
      div.logos
        img.logo(src="/images/googleplay.png")
        img.logo(src="/images/appstore.svg")
    div.spacer
    div.containerrow
      div.taskaction
        | Get your tasks done now
        span Or do you want to earn extra money. Click here
      div.spacer
      button(class="btn btn-primary large")= CTAtext
    include ../components/layout/footer
      


    
