
<header class="Header_headerMobile__3_A9y">
    <div class="Container_wrapperContainer__2Fari">
        <div class="Row_row__1-jAV">
            <div class="Header_wrapperHeader__19DIh">
                <div class="">
                    <a href="/">
                        <img class="Header_logo___kAfG" src="/images/logo.png" alt="logo">
                    </a>
                </div>

                <div class="Header_burgerIcon__1cuRA" tabindex="0" role="button">
                    <img src="/images/burger.svg" alt="icon">
                </div>

                <div class="Header_wrapperMenu__3q_0J">
                    <nav class="Header_wrapperMenuList__1i02T ">
                    <a class="Header_menuListItem__i_txw" href="https:/taskbooker.be/create-task">Plaats taak</a>
                    <a class="Header_menuListItem__i_txw" href="https:/taskbooker.be/open-tasks">Openstaande taken</a>
                    <a class="Header_menuListItem__i_txw" href="https:/taskbooker.be/how-taskbooker-works">Help</a>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</header>