div#banner-one
  div.banner-one-container
    div.banner-one-container-text
      h2 #{HeadlineDynamicContent}
      div.banner-one-container-text-bullets
        ul
          li#bullet1
            i(class="fas fa-check-circle") 
            | 
            = Bullet1
          li#bullet2
            i(class="fas fa-check-circle") 
            | 
            = Bullet2
          li#bullet3
            i(class="fas fa-check-circle") 
            | 
            = Bullet3
          li#bullet4
            i(class="fas fa-check-circle") 
            | 
            = Bullet4
    div.banner-one-container-img
