extends ../components/layout/head.pug
block content
    include ../components/layout/nav
    include ../components/banners/bannerOne/bannerOne
    include ../components/banners/bannerTwo/bannerTwo
    include ../components/banners/bannerThree/bannerThree
    div#app
    include ../components/banners/bannerFive/bannerFive
    include ../components/banners/bannerSix/bannerSix
    include ../components/banners/bannerSeven/bannerSeven
    div#root
    include ../components/layout/footer
