div#banner-two
section.banner-two-wrapper
  .banner-two-wrapper-container
      h2.banner-two-wrapper-container-title Hoe werkt het?
      .banner-two-wrapper-container-tasks
        img(src='../../../assets/images/howtobookers.png' alt='registreer')
