div#banner-two
section.banner-two-wrapper
  .banner-two-wrapper-container
      h2.banner-two-wrapper-container-title Hoe werkt het?
      .banner-two-wrapper-container-tasks
        img(src='../../../assets/images/howtobookers.png' alt='registreer')
      .banner-two-wrapper-container-how-it-works
        a.banner-two-wrapper-container-how-it-works-first-task(href='/how-taskbooker-works')
          img(src='../../../assets/images/registeer.svg' alt='registreer')
          .banner-two-wrapper-container-how-it-works-nametask 1. Registreer je GRATIS
        a.banner-two-wrapper-container-how-it-works-second-task(href='/how-taskbooker-works')
          img(src='../../../assets/images/taken.svg' alt='taken')
          .banner-two-wrapper-container-how-it-works-nametask
            | 2. Krijg toegang tot de Taskbooker-community
            | helpende handen
        a.banner-two-wrapper-container-how-it-works-third-task(href='/how-taskbooker-works')
          img(src='../../../assets/images/berichtencentrum.svg' alt='berichtencentrum')
          .banner-two-wrapper-container-how-it-works-nametask
            | 3. Spreek af via chat en... Veel succes!
