footer
  .footer-container-wrappercontainer
      .footer-container-wrappercontainer-wrapperFooter
        .footer-container-wrappercontainer-wrapperlogo
          a(href='/')
            img(src='/assets/images/footerlogo.png' alt='registreer')
        .footer-container-wrappercontainer-navigationWrapper
          nav.footer-container-wrappercontainer-navigationWrapper-wrapperAbout
            .footer-container-wrappercontainer-nameofcategory Over ons
            a.footer-container-wrappercontainer-item(href='/how-taskbooker-works') Hoe werkt Taskbooker
            a.footer-container-wrappercontainer-item(href='/meet-our-team') Taskbooker-team
            a.footer-container-wrappercontainer-item(href='/blog') Blog
          nav.footer-container-wrappercontainer-wrapperservice
            .footer-container-wrappercontainer-nameofcategory Service
            a.footer-container-wrappercontainer-item(href='/user-terms') Gebruiksvoorwaarden
            a.footer-container-wrappercontainer-item(href='/privacy') Privacybeleid
            a.footer-container-wrappercontainer-item(href='/cookie-policy') Cookiebeleid
            a.footer-container-wrappercontainer-item(href='/faq') Veelgestelde vragen
            a.footer-container-wrappercontainer-item(href='/contact-us') Contact
          nav.footer-container-wrappercontainer-wrapperservice
            .footer-container-wrappercontainer-nameofcategory Connect
            .footer-container-wrappercontainer-sharecard_socialnetworkrow
              button.footer-container-wrappercontainer-sharecard_socialiconwrapper
                .footer-container-wrappercontainer-ShareCard-fb
              button.footer-container-wrappercontainer-sharecard_socialiconwrapper
                .footer-container-wrappercontainer-ShareCard-linkedin
              button.footer-container-wrappercontainer-sharecard_socialiconwrapper
                .footer-container-wrappercontainer-ShareCard-twitter
              button.footer-container-wrappercontainer-sharecard_socialiconwrapper.footer-container-wrappercontainer-sharecard-animate
                .footer-container-wrappercontainer-sharecard-mail

        .footer-container-wrappercontainer-rights &copy; 2019 | All Rights Reserved