  
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css', type='text/css')
    <link rel="icon" href='../../assets/images/public_favicon.ico'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    link(rel='stylesheet', href='../../assets/css/main.css', type='text/css')
    script(src="/bundle.js")
  body
    block content
