div.bannerSeven-download
    div.bannerSeven-download-containerWrapper
        div.bannerSeven-download-containerWrapper-row
            div.bannerSeven-download-containerWrapper-row-buttons
                div.bannerSeven-download-containerWrapper-title Download onze App
                div.bannerSeven-download-containerWrapper-description Neem Taskbooker overal met je mee dankzij onze handige app.
                div.bannerSeven-download-containerWrapper-buttons
                    a.bannerSeven-download-containerWrapper-buttons-download-appstore(href='https://apps.apple.com/be/app/taskbooker-be/id1466619722')
                        img.bannerSeven-download-containerWrapper-buttons-download(src="/assets/images/app-store.new.png" target="_blank")
                    a.bannerSeven-download-containerWrapper-buttons-download-googleplay(href='https://play.google.com/store/apps/details?id=be.taskbooker')
                        img.bannerSeven-download-containerWrapper-buttons-download(src="/assets/images/google-play.new.png" target="_blank")

div.bannerSeven-cta
    div.bannerSeven-cta-containerWrapper
        div.bannerSeven-cta-containerWrapper-row
            div.bannerSeven-cta-containerWrapper-title Zoek je wat hulp?
            div.bannerSeven-cta-containerWrapper-description of wil je wat bijverdienen? Klik 
                a.div(href='https://taskbooker.be/tasker') hier
                div.button(class="bannerSeven-cta-containerWrapper-button")= CTAtext