section.bannerseven-download(style='background-color: rgb(222, 244, 236);')
  .bannerseven-download-containerwrapper
    .bannerseven-download-containerWrapper-row
      .bannerseven-download-containerWrapper-entry
        .bannerseven-download-containerWrapper-actionrow
          .bannerseven-download-containerWrapper-titleblock
            h3.bannerseven-download-containerWrapper-title Zoek je wat hulp?
            p.bannerseven-download-containerWrapper-description of wil je wat bijverdienen? Klik 
                a(class="banner-seven-btn-hier" href='https://taskbooker.be/tasker') hier
          button.bannerseven-download-containerwrapper-button(type='button')= CTAtext
